[submodule "Website-project-Group2/Website-project-Group2/website-project-group2"]
	path = Website-project-Group2/Website-project-Group2/website-project-group2
	url = https://github.com/AlianeIsimbi/website-project-group2.git
